@import "tailwindcss";

@font-face {
  font-family: 'lausen1';
  src: url(./src/assets/Lausanne-300.woff2);
}

@font-face {
  font-family: 'lausen2';
  src: url(./src/assets/Lausanne-500.woff2);
}



.moveLink {opacity: 0; transition: all ease-in 0.1;}
.link:hover .moveLink{ opacity: 1;}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveAnimation {
  from{transform: translateX(0);}
  to{transform: translateX(-100%);}
}

.navHover:hover .line {background-color: #000; transition: all ease;}
.cross:hover .crossLine {background-color: #d2fd52; transition: all ease;}